.user{:class => "#{@user.activated? ? 'active' : 'inactive' }"} 
  %p
    %img{:src => "/images/users/#{@user.login}.jpg"}
  %p
    %span.name= @user.login
  - if @user.activated?
    %p
      %span.time= "Faltam #{@left}"

