.user{:class => "#{@user.activated? ? 'active' : 'inactive' }"} 
  %p
    %img{:src => "/images/users/#{@user.login}.jpg", :width => 90}
  %p
    %span.name= @user.login
  - if @user.activated?
    %p
      - minutes = @left.split(':').first.to_i
      - if minutes < 5
        %span.time= "#{minutes}"
      - else
        %span.time.almost= "#{minutes}"
